/* max-width 768px section */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        margin: 50px auto;
    }

    nav h2 {
        font-size: 2rem;
    }

    nav>ul {
        margin-top: 20px;
    }

    nav li a {
        font-size: 1.3rem;
    }

    /* header title section */
    .header-title-section {
        flex-direction: column;
        padding: 0 50px 50px;
        flex-direction: column-reverse;
    }

    .header-left {
        text-align: center;
    }

    .header-left h2 {
        font-size: 3rem;
        font-weight: 700;
    }

    .header-right {
        margin-bottom: 30px;

    }

    .header-left p {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: normal;
    }

    .header-left,
    .header-right {
        width: 100%;
    }

    .header-right img {
        width: 100%;
    }

    /* company name and logo section */
    .company-name-section {
        height: 500px;
        width: 90%;
        margin: 50px auto;
    }

    .company-name-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .company-name-container img {
        width: 100px;
        padding-bottom: 30px;
    }

    /* collection section */
    .collection-section .card-container {
        grid-template-columns: 1fr;
        gap: 35px;
        margin: 0 140px;
    }

    .card {
        width: 500px;
        height: 630px;
    }

    .collection-section .see-more a {
        right: 122px;
        top: 5400px;
    }
}