/* max-width 768px section */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        margin: 50px auto;
    }

    nav>ul {
        margin-top: 20px;
    }

    .header-title-section {
        flex-direction: column;
        padding: 50px;
        flex-direction: column-reverse;
    }
    .header-left{
        text-align: center;
    }

    .header-right{
        margin-bottom: 30px;

    }
    .header-left,
    .header-right {
        width: 100%;
    }

    .header-right img {
        width: 100%;
    }

}
