@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {}

/* navbar section */
nav {
    display: flex;
    align-items: center;
    padding: 50px 200px;
    justify-content: space-between;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 20px;
}

nav li a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

nav h2 {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}




/* Responsive section */
/* max-width 768px section */
@media screen and (max-width: 768px) {
    nav{
        flex-direction: column;
        padding: 50px 100px;
    }
    nav>ul{
        margin-top: 20px;
    }
}

/* 768px to 992px section */
@media screen and (min-width: 768px) and (max-width: 992px) {
    nav{
        flex-direction: column;
    }
    nav>ul{
        margin-top: 20px;
    }
}

/* 992px to 1400px section */
@media screen and (min-width: 992px) and (max-width: 1400px) {
    nav{
        flex-direction: column;
    }
    nav>ul{
        margin-top: 20px;
    }
}