@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* navbar section */
nav {
    display: flex;
    align-items: center;
    padding: 50px 200px;
    justify-content: space-between;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 20px;
}

nav li a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

nav h2 {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}
