/* common and shared styles */

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0 200px;
    font-family: 'Poppins', sans-serif;
}

/* navbar section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.nav-logo {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 30px;
}

nav li a {
    text-decoration: none;
    color: #3A3A3A;
    cursor: pointer;
}

/* header section */
.header-title-img-section {
    margin: 170px 0;
}

.header-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    color: #3A3A3A;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 70px;
}

.header-description {
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
    margin: 18px 0;
}

.header-btn {
    border-radius: 41px;
    background: #E02C6D;
    padding: 15px 34px;
    border: 0;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
}

.fa-solid {
    padding-left: 5px;
}


.img-container {
    position: relative;
}

.img-camera {
    position: absolute;
    right: 8px;
    top: 30px;
}





/* responsive section */

/* 0px to 768px responsive section */
@media screen and (max-width: 768px) {
    body {
        padding: 0 50px;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        margin-top: 30px;
    }

    .header-title-img-section {
        margin: 50px 0;
    }

    .header-main-container {
        flex-direction: column;
    }

    .header-left {
        margin-bottom: 50px;
        text-align: center;
    }
}


/* 768px to 992 px responsive section*/
@media screen and (min-width: 576px) and (max-width: 992px) {
    body {
        padding: 0 50px;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        margin-top: 30px;
    }

    .header-title-img-section {
        margin: 50px 0;
    }

    .header-main-container {
        flex-direction: column;
    }

    .header-left {
        margin-bottom: 50px;
        text-align: center;
    }
}


/* 992px to 1400px responsive section */
@media screen and (min-width: 992px) and (max-width: 1400px) {

    body {
        padding: 0 100px;
    }
}